In [1]:
#Import required libraries
import os
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import ydata_profiling

import warnings
warnings.filterwarnings("ignore", category=FutureWarning)

/opt/conda/lib/python3.10/site-packages/numba/core/decorators.py:262: NumbaDeprecationWarning: numba.generated_jit is deprecated. Please see the documentation at: https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-generated-jit for more information and advice on a suitable replacement.
  warnings.warn(msg, NumbaDeprecationWarning)
/opt/conda/lib/python3.10/site-packages/visions/backends/shared/nan_handling.py:51: NumbaDeprecationWarning: The 'nopython' keyword argument was not supplied to the 'numba.jit' decorator. The implicit default value for this argument is currently False, but it will be changed to True in Numba 0.59.0. See https://numba.readthedocs.io/en/stable/reference/deprecation.html#deprecation-of-object-mode-fall-back-behaviour-when-using-jit for details.
  def hasna(x: np.ndarray) -> bool:

In [2]:
np.int = int  # Replace deprecated np.int with the built-in int

In [3]:
# Read the train.csv dataset into the kernel
dataset= pd.read_csv("/kaggle/input/playground-series-s4e1/train.csv")
dataset.head()

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,0,15674932,Okwudilichukwu,668,France,Male,33.0,3,0.00,2,1.0,0.0,181449.97,0
1,1,15749177,Okwudiliolisa,627,France,Male,33.0,1,0.00,2,1.0,1.0,49503.50,0
2,2,15694510,Hsueh,678,France,Male,40.0,10,0.00,2,1.0,0.0,184866.69,0
3,3,15741417,Kao,581,France,Male,34.0,2,148882.54,1,1.0,1.0,84560.88,0
4,4,15766172,Chiemenam,716,Spain,Male,33.0,5,0.00,2,1.0,1.0,15068.83,0

In [4]:
# Check the datatypes for the dataset
dataset.dtypes

id                   int64
CustomerId           int64
Surname             object
CreditScore          int64
Geography           object
Gender              object
Age                float64
Tenure               int64
Balance            float64
NumOfProducts        int64
HasCrCard          float64
IsActiveMember     float64
EstimatedSalary    float64
Exited               int64
dtype: object

In [5]:
# Create a feature profiling report using ydata_profiling
#from ydata_profiling import ProfileReport
#profile_report = ProfileReport(dataset)
#profile_report

In [6]:
#Check the shape of the dataset
dataset.shape

(165034, 14)

In [7]:
#Checking for missing values
dataset.isna().sum()

id                 0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [8]:
#Creating a function for checking count of unique values and %ge of unqiue values

def get_column_stats(data):
    # Create an empty DataFrame to store the results
    results_df = pd.DataFrame(columns=['Column', 'Unique Count', 'Unique Percentage'])

    # Iterate through each column in the DataFrame
    for column_name in data.columns:
        # Get unique values
        unique_values = data[column_name].unique()

        # Get unique count
        unique_count = len(unique_values)

        # Get percentage of unique values
        unique_percentage = (unique_count / data.shape[0]) * 100

        # Append results to the DataFrame
        results_df = pd.concat([results_df, pd.DataFrame({
            'Column': [column_name],
            'Unique Count': [unique_count],
            'Unique Percentage': [unique_percentage]
        })], ignore_index=True)

    return results_df

# Example usage:
# Assuming 'dataset' is your DataFrame
results_table = get_column_stats(dataset)
results_table

             Column Unique Count  Unique Percentage
0                id       165034         100.000000
1        CustomerId        23221          14.070434
2           Surname         2797           1.694802
3       CreditScore          457           0.276913
4         Geography            3           0.001818
5            Gender            2           0.001212
6               Age           71           0.043021
7            Tenure           11           0.006665
8           Balance        30075          18.223518
9     NumOfProducts            4           0.002424
10        HasCrCard            2           0.001212
11   IsActiveMember            2           0.001212
12  EstimatedSalary        55298          33.507035
13           Exited            2           0.001212

In [9]:
# Assigning dataset column id to a separate dataframe and then dropping it from the original dataset
dataset_id = dataset['id']
dataset=dataset.drop(['id'], axis=1)

In [10]:
# Assigning target variable column 'Exited' to a separate dataframe and then dropping it from the original dataset
# Feature and Target Variable split for train dataset
y = dataset['Exited'] # target variable
X = dataset.drop(['Exited'], axis=1) #feature dataset

In [11]:
X= X.drop(['CustomerId', 'Surname'], axis=1)
X

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,668,France,Male,33.0,3,0.00,2,1.0,0.0,181449.97
1,627,France,Male,33.0,1,0.00,2,1.0,1.0,49503.50
2,678,France,Male,40.0,10,0.00,2,1.0,0.0,184866.69
3,581,France,Male,34.0,2,148882.54,1,1.0,1.0,84560.88
4,716,Spain,Male,33.0,5,0.00,2,1.0,1.0,15068.83
...,...,...,...,...,...,...,...,...,...,...
165029,667,Spain,Female,33.0,2,0.00,1,1.0,1.0,131834.75
165030,792,France,Male,35.0,3,0.00,1,0.0,0.0,131834.45
165031,565,France,Male,31.0,5,0.00,1,1.0,1.0,127429.56
165032,554,Spain,Female,30.0,7,161533.00,1,0.0,1.0,71173.03
165033,850,France,Male,31.0,1,0.00,1,1.0,0.0,61581.79

In [12]:
#Creating Dummy Variables for categorical columns of 'Geography' and 'Gender'
X = pd.get_dummies(X,columns=['Geography', 'Gender'], prefix='encoded')
X

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,encoded_France,encoded_Germany,encoded_Spain,encoded_Female,encoded_Male
0,668,33.0,3,0.00,2,1.0,0.0,181449.97,True,False,False,False,True
1,627,33.0,1,0.00,2,1.0,1.0,49503.50,True,False,False,False,True
2,678,40.0,10,0.00,2,1.0,0.0,184866.69,True,False,False,False,True
3,581,34.0,2,148882.54,1,1.0,1.0,84560.88,True,False,False,False,True
4,716,33.0,5,0.00,2,1.0,1.0,15068.83,False,False,True,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
165029,667,33.0,2,0.00,1,1.0,1.0,131834.75,False,False,True,True,False
165030,792,35.0,3,0.00,1,0.0,0.0,131834.45,True,False,False,False,True
165031,565,31.0,5,0.00,1,1.0,1.0,127429.56,True,False,False,False,True
165032,554,30.0,7,161533.00,1,0.0,1.0,71173.03,False,False,True,True,False
165033,850,31.0,1,0.00,1,1.0,0.0,61581.79,True,False,False,False,True

In [13]:
from sklearn.preprocessing import LabelEncoder

# Assuming 'df' is your DataFrame containing the data
encoder = LabelEncoder()

# Iterate over columns to check if they should be treated as categorical
for col in X.columns:
    if X[col].dtype == 'object':
        encoded_values = encoder.fit_transform(X[col])
        print(f"Column '{col}' classes:", encoder.classes_)
    else:
        print(f"Column '{col}' is numeric and should not be encoded.")

Column 'CreditScore' is numeric and should not be encoded.
Column 'Age' is numeric and should not be encoded.
Column 'Tenure' is numeric and should not be encoded.
Column 'Balance' is numeric and should not be encoded.
Column 'NumOfProducts' is numeric and should not be encoded.
Column 'HasCrCard' is numeric and should not be encoded.
Column 'IsActiveMember' is numeric and should not be encoded.
Column 'EstimatedSalary' is numeric and should not be encoded.
Column 'encoded_France' is numeric and should not be encoded.
Column 'encoded_Germany' is numeric and should not be encoded.
Column 'encoded_Spain' is numeric and should not be encoded.
Column 'encoded_Female' is numeric and should not be encoded.
Column 'encoded_Male' is numeric and should not be encoded.

In [14]:
# Test and Train Split
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print(X_train.shape)
print(X_test.shape)
print(y_train.shape)
print(y_test.shape)

(132027, 13)
(33007, 13)
(132027,)
(33007,)

In [15]:
# Random Forest Model
from sklearn.ensemble import RandomForestClassifier

# Initialize Random Forest model
random_forest_initial = RandomForestClassifier(random_state=42)

# Fit the model using the training data
random_forest_initial.fit(X_train, y_train)

RandomForestClassifier(random_state=42)

In [16]:
# Predict the variables for X_test dataset
random_forest_predictions_initial= random_forest_initial.predict(X_test)
random_forest_predictions_initial

array([0, 0, 1, ..., 1, 0, 0])

In [17]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix, roc_auc_score

# Scoring using accuracy
random_forest_accuracy_initial = accuracy_score(y_test, random_forest_predictions_initial)
print(f'Accuracy: {random_forest_accuracy_initial:.4f}')

Accuracy: 0.8575

In [18]:
# Classification report
print('Classification Report:')
print(classification_report(y_test, random_forest_predictions_initial))

Classification Report:
              precision    recall  f1-score   support

           0       0.88      0.94      0.91     26052
           1       0.71      0.54      0.61      6955

    accuracy                           0.86     33007
   macro avg       0.80      0.74      0.76     33007
weighted avg       0.85      0.86      0.85     33007

In [19]:
# Confusion matrix
print('Confusion Matrix:')
print(confusion_matrix(y_test, random_forest_predictions_initial))

Confusion Matrix:
[[24552  1500]
 [ 3205  3750]]

In [20]:
# ROC AUC score (if it's a binary classification)
if len(set(y_test)) == 2:  # Checking for binary classification
    random_forest_roc_auc_initial = roc_auc_score(y_test, random_forest_initial.predict_proba(X_test)[:, 1])
    print(f'ROC AUC Score: {random_forest_roc_auc_initial:.4f}')

ROC AUC Score: 0.8739

In [21]:
# Finding best combination of hyperparameters for Random Forest
from skopt import BayesSearchCV

# Define the parameter grid to search
param_grid = {
    'n_estimators': np.random.randint(1, 500, size =10),
    'max_depth': np.random.randint(1, 50, size = 10),
    'criterion': ['gini', 'entropy'],
    'max_features': ['sqrt', 'log2', None]
}

# Create a Logistic Regression
random_forest = RandomForestClassifier(random_state=42)

# Perform grid search with cross-validation
bayes_search = BayesSearchCV(random_forest, param_grid, n_iter=50, cv=5, n_jobs=-1)
bayes_search.fit(X_train, y_train)

# Get the best parameters and the best score
best_params = bayes_search.best_params_
best_score = bayes_search.best_score_

print("Best Parameters:", best_params)
print("Best Score:", best_score)

# Evaluate the model on the test set using the best parameters
best_tree = bayes_search.best_estimator_

test_accuracy = best_tree.score(X_test, y_test)
print("Test Set Accuracy with Best Parameters:", test_accuracy)

/opt/conda/lib/python3.10/site-packages/joblib/externals/loky/process_executor.py:752: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  warnings.warn(
/opt/conda/lib/python3.10/site-packages/joblib/externals/loky/process_executor.py:752: UserWarning: A worker stopped while some jobs were given to the executor. This can be caused by a too short worker timeout or by a memory leak.
  warnings.warn(

Best Parameters: OrderedDict([('criterion', 'entropy'), ('max_depth', 9), ('max_features', None), ('n_estimators', 297)])
Best Score: 0.8644444146129819
Test Set Accuracy with Best Parameters: 0.8656648589693096

In [22]:
# Initialize Random Forest model- Hyperparameters
random_forest_hyp = RandomForestClassifier(n_estimators= 248, max_depth= 10, criterion= 'entropy', max_features= None, random_state=42)

# Fit the model using the training data
random_forest_hyp.fit(X_train, y_train)

RandomForestClassifier(criterion='entropy', max_depth=10, max_features=None,
                       n_estimators=248, random_state=42)

In [23]:
# Predict the variables for X_test dataset
random_forest_predictions_hyp= random_forest_hyp.predict(X_test)
random_forest_predictions_hyp

array([0, 0, 1, ..., 0, 0, 0])

In [24]:
# Scoring using accuracy
random_forest_accuracy_hyp = accuracy_score(y_test, random_forest_predictions_hyp)
print(f'Accuracy: {random_forest_accuracy_hyp:.4f}')

Accuracy: 0.8651

In [25]:
# Classification report
print('Classification Report:')
print(classification_report(y_test, random_forest_predictions_hyp))

Classification Report:
              precision    recall  f1-score   support

           0       0.89      0.95      0.92     26052
           1       0.74      0.56      0.64      6955

    accuracy                           0.87     33007
   macro avg       0.81      0.75      0.78     33007
weighted avg       0.86      0.87      0.86     33007

In [26]:
# Confusion matrix
print('Confusion Matrix:')
print(confusion_matrix(y_test, random_forest_predictions_hyp))

Confusion Matrix:
[[24663  1389]
 [ 3062  3893]]

In [27]:
# ROC AUC score (if it's a binary classification)
if len(set(y_test)) == 2:  # Checking for binary classification
    random_forest_roc_auc_hyp = roc_auc_score(y_test, random_forest_hyp.predict_proba(X_test)[:, 1])
    print(f'ROC AUC Score: {random_forest_roc_auc_hyp:.4f}')

ROC AUC Score: 0.8886

In [28]:
#Assigning the best model
best_model = random_forest_hyp

# Fit the model using the training data
best_model.fit(X_train, y_train)

RandomForestClassifier(criterion='entropy', max_depth=10, max_features=None,
                       n_estimators=248, random_state=42)

In [29]:
# Reading the test data csv into the kernel
dataset_test= pd.read_csv("/kaggle/input/playground-series-s4e1/test.csv")
dataset_test

,id,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,165034,15773898,Lucchese,586,France,Female,23.0,2,0.00,2,0.0,1.0,160976.75
1,165035,15782418,Nott,683,France,Female,46.0,2,0.00,1,1.0,0.0,72549.27
2,165036,15807120,K?,656,France,Female,34.0,7,0.00,2,1.0,0.0,138882.09
3,165037,15808905,O'Donnell,681,France,Male,36.0,8,0.00,1,1.0,0.0,113931.57
4,165038,15607314,Higgins,752,Germany,Male,38.0,10,121263.62,1,1.0,0.0,139431.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
110018,275052,15662091,P'eng,570,Spain,Male,29.0,7,116099.82,1,1.0,1.0,148087.62
110019,275053,15774133,Cox,575,France,Female,36.0,4,178032.53,1,1.0,1.0,42181.68
110020,275054,15728456,Ch'iu,712,France,Male,31.0,2,0.00,2,1.0,0.0,16287.38
110021,275055,15687541,Yegorova,709,France,Female,32.0,3,0.00,1,1.0,1.0,158816.58
110022,275056,15663942,Tuan,621,France,Female,37.0,7,87848.39,1,1.0,0.0,24210.56

In [30]:
#Removing the 'id' column to a separate dataframe
test_id = dataset_test['id']
dataset_test = dataset_test.drop(['id'], axis=1)
dataset_test

,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,15773898,Lucchese,586,France,Female,23.0,2,0.00,2,0.0,1.0,160976.75
1,15782418,Nott,683,France,Female,46.0,2,0.00,1,1.0,0.0,72549.27
2,15807120,K?,656,France,Female,34.0,7,0.00,2,1.0,0.0,138882.09
3,15808905,O'Donnell,681,France,Male,36.0,8,0.00,1,1.0,0.0,113931.57
4,15607314,Higgins,752,Germany,Male,38.0,10,121263.62,1,1.0,0.0,139431.00
...,...,...,...,...,...,...,...,...,...,...,...,...
110018,15662091,P'eng,570,Spain,Male,29.0,7,116099.82,1,1.0,1.0,148087.62
110019,15774133,Cox,575,France,Female,36.0,4,178032.53,1,1.0,1.0,42181.68
110020,15728456,Ch'iu,712,France,Male,31.0,2,0.00,2,1.0,0.0,16287.38
110021,15687541,Yegorova,709,France,Female,32.0,3,0.00,1,1.0,1.0,158816.58
110022,15663942,Tuan,621,France,Female,37.0,7,87848.39,1,1.0,0.0,24210.56

In [31]:
# Dropping Customer ID and Surname columns
dataset_test= dataset_test.drop(['CustomerId', 'Surname'], axis=1)
dataset_test

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,586,France,Female,23.0,2,0.00,2,0.0,1.0,160976.75
1,683,France,Female,46.0,2,0.00,1,1.0,0.0,72549.27
2,656,France,Female,34.0,7,0.00,2,1.0,0.0,138882.09
3,681,France,Male,36.0,8,0.00,1,1.0,0.0,113931.57
4,752,Germany,Male,38.0,10,121263.62,1,1.0,0.0,139431.00
...,...,...,...,...,...,...,...,...,...,...
110018,570,Spain,Male,29.0,7,116099.82,1,1.0,1.0,148087.62
110019,575,France,Female,36.0,4,178032.53,1,1.0,1.0,42181.68
110020,712,France,Male,31.0,2,0.00,2,1.0,0.0,16287.38
110021,709,France,Female,32.0,3,0.00,1,1.0,1.0,158816.58
110022,621,France,Female,37.0,7,87848.39,1,1.0,0.0,24210.56

In [32]:
# Creating dummy variables for 'Geography' and 'Gender' columns as per train datatset
columns=['Geography', 'Gender']
dataset_test = pd.get_dummies(data=dataset_test, columns=columns, prefix='encoded')
dataset_test

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,encoded_France,encoded_Germany,encoded_Spain,encoded_Female,encoded_Male
0,586,23.0,2,0.00,2,0.0,1.0,160976.75,True,False,False,True,False
1,683,46.0,2,0.00,1,1.0,0.0,72549.27,True,False,False,True,False
2,656,34.0,7,0.00,2,1.0,0.0,138882.09,True,False,False,True,False
3,681,36.0,8,0.00,1,1.0,0.0,113931.57,True,False,False,False,True
4,752,38.0,10,121263.62,1,1.0,0.0,139431.00,False,True,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
110018,570,29.0,7,116099.82,1,1.0,1.0,148087.62,False,False,True,False,True
110019,575,36.0,4,178032.53,1,1.0,1.0,42181.68,True,False,False,True,False
110020,712,31.0,2,0.00,2,1.0,0.0,16287.38,True,False,False,False,True
110021,709,32.0,3,0.00,1,1.0,1.0,158816.58,True,False,False,True,False
110022,621,37.0,7,87848.39,1,1.0,0.0,24210.56,True,False,False,True,False

In [33]:
# Now predicting the submission probabilities using this model
# Predict probabilities for each class
churn = best_model.predict(dataset_test)

churn.shape[0]

110023

In [34]:
# Creating a DataFrame using 'id' DataFrame and predictions array
submission = pd.DataFrame({'id': test_id, 'Exited': churn})

# Displaying the resulting DataFrame
submission

            id  Exited
0       165034       0
1       165035       1
2       165036       0
3       165037       0
4       165038       0
...        ...     ...
110018  275052       0
110019  275053       0
110020  275054       0
110021  275055       0
110022  275056       0

[110023 rows x 2 columns]

In [35]:
# Saving submission dataframe as csv
submission.to_csv('submission.csv', index=False)